{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Cardapio</title>
</head>
<body>
    <header>
        <a href="http://localhost:8000/admin"="button">Admin</a>
        <a href="{% url 'cardapio' %}">cardapio</a>
        <a href="{% url 'mesas' %}">mesas</a>
    </header>
    <h1>Cardapio</h1>
    {% if pratos %}
        <h3>Pratos</h3>
        {% for prato in pratos %}
        <p>Nome: {{ prato.nome }}</p>
        <p>Descrição: {{ prato.descricao }}</p>
        <img src="{{ prato.foto.url }}" alt="coca">
        <p>Valor: {{ prato.valor }}</p>
        {% endfor %}
    {% else %}
    {% endif %}
    {% if bebidas %}
        <h3>Bebidas</h3>
        {% for bebida in bebidas %}
        <p>Nome: {{ bebida.nome }}</p>
        <p>Descrição: {{ bebida.descricao }}</p>
        <img src="{{ bebida.foto.url }}" alt="coca">
        {% endfor %}
    {% else %}
    {% endif %}

</body>
</html>