<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="http://localhost:8000/admin"="button">Admin</a>
        <a href="{% url 'cardapio' %}">cardapio</a>
        <a href="{% url 'mesas' %}">mesas</a>
    </header>
    
    <p>Numero: {{ mesas.numero }}</p>
    <p>lugares: {{ mesas.lugares }}</p>
    <p>Disponivel: {{ mesas.disponivel }}</p>
    <h3>comanda</h3>
    <!-- {% for chave, valor in mesas.comanda.items %}
        <p>{{chave}}: {{valor}}</p>
    {% endfor %} -->
    <p>  {{ mesas.comanda }}</p>
    

    <button>
            <a href=" {% url 'pedido' mesas.id %} ">
                Fazer pedido
       
    </button>
    </a>
</body>
</html>