<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.6.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.6.1/core.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="http://localhost:8000/admin"="button">Admin</a>
        <a href="{% url 'cardapio' %}">cardapio</a>
        <a href="{% url 'mesas' %}">mesas</a>
    </header>
    
    <p>Numero: {{ mesas.numero }}</p>
    <p>lugares: {{ mesas.lugares }}</p>
    <p>Disponivel: {{ mesas.disponivel }}</p>
    <h3>comanda</h3>

    {% for pedido in mesas.comanda %}
        <p>Nome: {{ pedido.0}}</p>
        <p>Valor: {{ pedido.1}}</p>
        <p>Quantidade: {{ pedido.2 }}</p>
    {% endfor %}
    
    <button>
            <a href=" {% url 'pedido' mesas.id %} ">
                Fazer pedido
       
    </button>
    </a>
</body>
</html>