{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Pedidos</title>
</head>
<body>
    <header>
        <a href="http://localhost:8000/admin">Admin</a>
        <a href="{% url 'cardapio' %}">cardapio</a>
        <a href="{% url 'mesas' %}">mesas</a>
    </header>
    <h1>Pedidos</h1>
    {% if pratos %}
        <h3>Pratos</h3>
        {% for prato in pratos %}
        <a href="{% url 'imagem_prato' mesas.id prato.id %}">{{ prato.nome }}</a>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if bebidas %}
        
        <h3>Bebidas</h3>
        {% for bebida in bebidas %}
        <a href="{% url 'imagem_bebida' mesas.id bebida.id %}">{{ bebida.nome }}</a>
        <!-- <p>Nome: {{ bebida.nome }}</p>
        <p>Descrição: {{ bebida.descricao }}</p>
        <img src="{{ bebida.foto.url }}" alt=""> -->
        {% endfor %}
    {% else %}
    {% endif %}
    <h3> tem que aparecer aqui  {{ COMANDA.views }}</h3>
</body>
</html>